*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: Raleway;
  --accent-font: STIX Two Text;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: #transparent;
}

.page {
  min-inline-size: 360px;
  /*max-inline-size: 1440px;*/
  margin: 0;
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
}

button:disabled {
  pointer-events: none;
}

.heading {
  font-family: var(--accent-font, serif);
  text-align: center;
  font-weight: 600;
  line-height: 90%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding-top: 10%;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.header__logo {
  display: flex;
  justify-content: space-between
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  justify-content: flex-end;

}

.header__theme-button {
  font-family: inherit;
  color: var(--text-color);
  font-size: 18px;
  line-height: 104%;
  border: none;
  cursor: pointer;
  background-color: var(--bg-color);
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button:active {
  font-weight: 700;
}

.header__theme-button:checked {
  display: block;
  font-weight: 700;
}

.header__theme-button:focus-visible {
  outline: currentColor;
}

.header__theme-button_is-active::after {
  content: "";
  display: block;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}

.theme_dark .content__list li::before {
  background-image: url(../images/marker-dark.svg);
}

.content-section {
  padding: 0 5vi;
}

.header__menu {
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding-block: 20px;
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__text-block a {
  color: inherit;
}

.content__text-block_type_first-lettered .content__paragraph:first-child:first-letter {
  background: var(--accent-color);
  display: inline-block;
  padding: 0 4px;
  margin-right: 1px;
  font-size: 30px;
  font-weight: 700;
}

.content__blockquote {
  width: 75%;
  margin: auto auto 1.5em;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
}

.content__list {
  position: relative;
  list-style-type: none;
  padding-inline-start: 40px;
}

.content__list li:not(:last-child) {
  margin-bottom: 10px;
}

.content__list > li::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url(../images/marker-light.svg);
  background-size: cover;
  background-position: center;
  margin-top: 3px;
  margin-left: -25px;
}

.content__figure {
  position: relative;
  inline-size: calc(100% + 10vi);
  /*overflow: hidden;*/
  margin: 7% auto;
  inset-inline-end: 5vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  border-block-end: 1px solid currentColor;
}

.content__card {
  aspect-ratio: 4/3;
  display: flex;
  margin-top: 7%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
}

.content__card-title {
  font-family: STIX Two Text, serif;
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: "";
  position: absolute;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  z-index: -1;
  inset-inline-start: -4px;
  inset-block-end: 0.3ch;
}

.link {
  color: currentColor;
}

.footer {
  margin-block-start: 10%;
  border-block-start: 1px solid currentColor;
  padding: 2.5%;
  text-align: center;
}

.footer__copyright {
  font-size: 18px;
}
